/* Fonts */
$main_font: "fira-sans-2",sans-serif;

/* Colors */
$dark_blue: #366ECA;
$light_blue: #4285F4;
$light_bg:  #F1F1F1;
$border_color: #CCC;
$header_gray: #E4E4E4;
/* Utility classes 
*/
.clear {
	clear: both;
}